.sun {
    height: 161px;
    width: 161px;
  }
  
  .sun .overlap-group {
    height: 161px;
    position: relative;
  }
  
  .sun .ellipse {
    height: 102px;
    left: 30px;
    position: absolute;
    top: 30px;
    width: 102px;
  }
  
  .sun .img {
    height: 161px;
    left: 0;
    position: absolute;
    top: 0;
    width: 161px;
  }
  